@import '@styles/theme.scss';

.login-account {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 40px 40px 700px;
  background: #ffffff;
}

.login-account__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;

  &-img {
    width: 210px;
    height: 210px;
  }
}

.login-account__wrap {
  position: relative;
  z-index: 2;
}

.login-account__suggest {
  position: absolute;
  top: 108px;
  left: 0;
  z-index: 9;
  width: 100%;
  background: #ffffff;

  &-item {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &-txt {
      color: $text-color;
      font-size: 24px;
    }
  }
}

.login-account__btn {
  position: relative;
  margin-top: 60px;
  z-index: 1;
}
