@import "@styles/theme.scss";

.item-detail {
  padding: 40px 30px;
  background: $white;
}

.item-detail__header {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-name {
    color: $black;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
  }

  &-desc {
    margin-top: 14px;
    color: $text-color-lighter;
    font-size: 28px;
    line-height: 32px;
  }

}

.item-detail__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;

  &-symbol {
    padding-top: 8px;
    color: $primary-color;
    font-size: 24px;
    line-height: 24px;
  }

  &-txt {
    color: $primary-color;
    font-size: 38px;
    line-height: 38px;
  }

  &-origin {
    margin-left: 18px;
    padding-top: 10px;
    color: $text-color-lighter;
    font-size: 24px;
    line-height: 24px;
  }

  &-star {
    margin-left: 420px;

    &-txt {
      color: $primary-color;
      font-size: 32px;
      font-weight: bold;
      line-height: 32px;
    }

    &-link {
      margin-top: 12px;
      color: $text-color-lighter;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

