@import "@styles/theme.scss";

.seller-register {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 50px 40px 700px;
  background: #ffffff;
}

.seller-register__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
  &-txt {
    width: 100%;
    text-align: center;
    height: 90px;
  }
}

.businessModel-picker {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 40px;
  font-size:medium;
}


.address-picker {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 20px;
  font-size:medium;
}

.picker {
  width: 100%;
  text-align: center;
  height: 40px;
}
