@import "@styles/theme.scss";

.seller-shop {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 10px;
  background: #ffffff;
}

.seller-shop__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}

.seller-shop__certificate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
  &-txt {
    margin-right: 10px;
    font-size: 0.58267rem;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    text-align: center;
  };
  &-img {
    width: 100%;
    text-align: center;
  }
}


